@very-dark-gray: #282727; // Background
@dark-gray: #302F2F; // Current Line & Selection
@gray: #666666;
@light-gray: #3D3B3B;
@very-light-gray: #D8D5C6; // Foreground
@blue: #888888; // Comment
@find-highlight: #ED474A;

@cyan: #09E85E;
@soft-cyan: #AFA893;
@green: #56f910;
@orange: #977C6F;
@pink: #17af03;
@purple: #E6F8B2;
@red: #BEEE62;
@yellow: #4F9546 ; // Strings
@dark-yellow: #E6DB74;
@sandstone: #cfcfc2;

@lace: #f8f8f0;
@white: #ffffff;
@black: #000000;
