@very-dark-gray: #282a36; // Background
@dark-gray: #44475a; // Current Line & Selection
@gray: #666666;
@light-gray: #999999;
@very-light-gray: #E5DEDA; // Foreground
@blue: #52544E; // Comment

@cyan: #9DC5BB;
@soft-cyan: #B8EDC6;
@green: #50fa7b;
@orange: #E6DB74;
@pink: #977C6F;
@purple: #CCB7AE;
@red: #ff5555;
@yellow: #05AA70; // Strings
@dark-yellow: #E6DB74;
@sandstone: #cfcfc2;

@lace: #f8f8f0;
@white: #ffffff;
@black: #000000;
